.row-style {
  padding: 2% 0 2% 0;
  border-top: .2em solid #20706B;
}

.logo {
  float: right;
}

.social-logo-container {
  padding-right: 0;
}

.social-logo:hover {
  cursor: pointer;
}

.links {
  font-size: .65em;
  cursor: pointer;
}

@media (min-width: 375px) {
  .links {
    padding-top: .8%;
    font-size: .85em;
  }
}

@media (min-width: 425px) {
  .links {
    padding-top: 1.1%;
    font-size: .9em;
  }

  .social-logo {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .row-style {
    padding: 1% 0 1% 0;
  }

  .social-logo-container {
    padding-top: 1.75%;
  }

  .links {
    padding-top: 1.2%;
    font-size: 1em;
  }

  .logo-container {
    padding-right: 2%;
  }

  .logo {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .social-logo-container {
    padding-top: 2.5%;
  }

  .social-logo {
    width: 100%;
  }

  .links {
    padding-top: 2.1%;
    font-size: 1.3em;
  }
}

@media (min-width: 1440px) {
  .row-style {
    border-top: .35em solid #20706B;
  }

  .logo {
    width: 50%;
  }

  .social-logo-container {
    padding-top: 1.25%;
  }

  .links {
    padding-top: .75%;
  }
}

@media (min-width: 2560px) {
  .social-logo {
    width: 60%;
  }

  .links {
    padding-top: 1%;
    font-size: 2.75em;
  }
}
