html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.remove-padding {
  padding: 0 !important;
}

.remove-right-padding {
  padding-right: 0 !important;
}

.remove-left-padding {
  padding-left: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}
